{% extends 'users/userbase.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <!-- Body Content -->
    <div class="container">
        <h1 style="color: #00FFFF; 
        font-weight: 800; 
        text-shadow: 2px 2px 4px #000000;
        background: rgba(0, 0, 0, 0.5); 
        padding: 10px;
        display: inline-block;
        border-radius: 10px;">Malicious URL Detection using Deep Learning</h1>
    </div>
</body>
</html>
{% endblock %}